# REQUIREMENTS FILE FOR THE PYTHON SCRIPTS

# 1_root_scaleTree.py
Phylo
argparse
subprocess
os

# 2_donwloadTaxonomy.py
re
json
csv

# 3_tValidate.py
defaultdict
matplotlib.pyplot
matplotlib.patches
Line2D
pandas
numpy
ListedColormap

# 4_tSuspicious.py
sys
datetime

# 5_plot_cutTree.py
matplotlib.colors

# 6_evaluate_h.py
Counter

# networkCorrelation.py
PdfPages
pearsonr
networkx
igraph
